<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home/dashboard">Back TO HOME</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/logout">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

<!-- Main component for a primary marketing message or call to action -->
<div class="container">
    <div class="row justify-content-md-center">
        <div ckass="alert alert-success">
            <p>

            </p>
        </div>
    </div>
</div>
<div class="jumbotron">
    <h1>Welcome in Orders Area</h1>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <h2>Orders:</h2>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title:</th>
                    <th scope="col">Price:</th>
                    <th scope="col">Deescription:</th>
                    <th scope="col">Created_at:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <% for(var i=0; i<orders.length; i++) {%>
                    <td><%= i+1 %></td>
                    <td><%= orders[i].title %></td>
                    <td><%= orders[i].price %>$</td>
                    <td><%= orders[i].description %></td>
                    <td><%= orders[i].created_at %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>

</div>
<%- include footer.ejs %>